<div layout="column" style="height:{{hght}};" ng-cloak>
	<div layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-if="selectedTab!==1">
			<md-toolbar>
				<div layout="row">
					<md-toolbar-filler layout="row" layout-align="center center">
						<md-icon class="material-icons">settings</md-icon>
					</md-toolbar-filler>
					<h2 class="md-toolbar-tools">
						<span>Settings</span>
					</h2>
				</div>
			</md-toolbar>
			<md-content flex layout-fill layout="column" md-scroll-y>
				
				<p class="md-subhead" style="padding-left:10px; padding-top: 20px">
					Select Timeframe:
				</p>
				<md-radio-group ng-model="stat_settings.timeframe" ng-change="timeframeChangeHandler()" style="padding-left:20px;">
					<md-radio-button ng-repeat="item in timeframeItems" value="{{item.id}}" class="md-accent">{{item.name}}</md-radio-button>
				</md-radio-group>
				<md-divider></md-divider>

				<p class="md-subhead" style="padding-left:10px; padding-top: 20px">
					Machine Availability:
				</p>
				<md-radio-group ng-model="stat_settings.availability" ng-change="availabilityChangeHandler()" style="padding-left:20px;">
					<md-radio-button ng-repeat="item in availItems" value="{{item.id}}" class="md-accent">{{item.name}}</md-radio-button>
				</md-radio-group>
				<md-divider></md-divider>

				<p class="md-subhead" style="padding-left:10px; padding-top: 20px">
					Production Stats:
				</p>
				<md-radio-group ng-model="stat_settings.production" ng-change="productionChangeHandler()" style="padding-left:20px;">
					<md-radio-button ng-repeat="item in prodItems" value="{{item.id}}" class="md-accent">{{item.name}}</md-radio-button>
				</md-radio-group>
				<md-divider></md-divider>

				<p class="md-subhead" style="padding-left:10px; padding-top: 20px">
					FTR:
				</p>
				<md-radio-group ng-model="stat_settings.ftr" ng-change="ftrChangeHandler()" style="padding-left:20px;">
					<md-radio-button ng-repeat="item in ftrItems" value="{{item.id}}" class="md-accent">{{item.name}}</md-radio-button>
				</md-radio-group>
				<md-divider></md-divider>

				<p class="md-subhead" style="padding-left:10px; padding-top: 20px">
					Downtime Analysis:
				</p>
				<md-radio-group ng-model="stat_settings.downtime" ng-change="downtimeChangeHandler()" style="padding-left:20px;">
					<md-radio-button ng-repeat="item in dtItems" value="{{item.id}}" class="md-accent">{{item.name}}</md-radio-button>
				</md-radio-group>

			</md-content>
		</md-sidenav>
		
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-if="selectedTab===1">
			<md-toolbar>
				<div layout="row">
					<md-toolbar-filler layout="row" layout-align="center center">
						<md-icon class="material-icons">list</md-icon>
					</md-toolbar-filler>
					<h2 class="md-toolbar-tools">
						<span>List of Machines</span>
					</h2>
				</div>
			</md-toolbar>
			<md-content flex layout-fill layout="column" md-scroll-y>
				
				<md-list ng-repeat="plant in plants" ng-cloak>
					<md-subheader class="md-no-sticky">{{ plant.name }}</md-subheader>
					<md-list-item ng-repeat="machine in plant.machines">
						<p> {{ (machines | filter: {id: machine})[0].name }} </p>
						<md-checkbox class="md-secondary" ng-model="(machines | filter: {id: machine})[0].checked" ng-disabled="(machines | filter: {id: machine})[0].disabled"></md-checkbox>
					</md-list-item>
					<md-divider></md-divider>
				</md-list>

			</md-content>
		</md-sidenav>

		<md-content flex layout-padding>
			<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom md-autoselect>
				<md-tab label="Statistics" ng-click="selectedTab = 2">
					<md-content layout="column">
						<div layout="row" layout-xs="column">
							<div flex-gt-xs="50" layout="column">
								<md-card md-whiteframe="1">
									<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
									<div flex id="container1" style="height:340px;"></div>
								</md-card>
							</div>
							<div flex-gt-xs="50" layout="column">
								<md-card>
									<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
									<div flex id="container2" style="height:340px;"></div>
								</md-card>
							</div>
						</div>
						<div layout="row" layout-xs="column">
							<div flex-gt-xs="50" layout="column">
								<md-card>
									<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
									<div flex id="container3" style="height:340px;"></div>
								</md-card>
							</div>
							<div flex-gt-xs="50" layout="column">
								<md-card>
									<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
									<div flex id="container4" style="height:340px;"></div>
								</md-card>
							</div>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Favorites" ng-click="selectedTab = 1">
					<div class="row" style="padding-top: 10px">
			        	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="machine in favmachines">
		  					<div id="pointerTile" ng-class="{'green': machine.status === 'on', 'red': machine.status === 'off', 'grey': machine.status === 'disconnected'}" style="padding: 1px" ng-click="goToMachine(machine.id)">
		  						<rd-widget>
		  							<rd-widget-body>
		  								<div class="widget-icon pull-left" ng-class="{'green': machine.status === 'on', 'red': machine.status === 'off', 'grey': machine.status === 'disconnected'}">
		  									<i ng-class="{'fa fa-gear fa-spin': machine.status === 'on', 'fa fa-power-off': machine.status === 'off', 'fa fa-ban': machine.status === 'disconnected'}"></i>
		  								</div>
		  								<div class="title" ng-class="{'titgreen': machine.status === 'on', 'titred': machine.status === 'off', 'titgrey': machine.status === 'disconnected'}" style="max-width: 70%; overflow-x: hidden; white-space: nowrap;">
		  									{{machine.id}}: {{machine.machineName}}
		  								</div>
		  								<div class="comment" ng-class="{'titgreen': machine.status === 'on', 'titred': machine.status === 'off', 'titgrey': machine.status === 'disconnected'}">
		  									<span>{{machine.plant}}</span>
						                    &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;
						                    <span>{{machine.site}}</span>
		  								</div>
		  								<hr/>
		  								<div class="row comment" style="font-size: 20px; margin-top: 10px">
		  									<span class="pull-left titgreen">
		  										Count: <b>{{machine.currentOEE}}</b>
		  									</span>
		  									<span class="pull-right titred">
		  										DT: <b>{{machine.previousOEE}} mins</b>
		  									</span>
		  								</div>
		  								<!-- <div class="comment">
		  									Achieved: {{machine.prodCount}}
		  								</div> -->
		  							</rd-widget-body>
		  						</rd-widget>
		  					</div>
		  				</div>
		  			</div>
					<div flex></div>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>







					<!-- <div layout="column" layout-align="center center">
						<p>
						The left sidenav will 'lock open' on a medium (>=960px wide) device.
						</p>
						<p>
						The right sidenav will focus on a specific child element.
						</p>
						<div>
							<md-button ng-click="toggleLeft()"
								class="md-primary" hide-gt-md>
								Toggle left
							</md-button>
						</div>
						<div>
							<md-button ng-click="toggleRight()"
								ng-hide="isOpenRight()"
								class="md-primary">
								Toggle right
							</md-button>
						</div>
					</div> -->