
<div ng-cloak="" class="toolbardemoBasicUsage">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate>Bottom 5 Performers</md-truncate>
        <span flex=""></span>
        <md-button class="md-icon-button md-accent" aria-label="Week">
          <md-tooltip md-direction="bottom">Previous Week</md-tooltip>
          <img class="png-icon" src="/static/week-sm.png">
        </md-button>
        <md-button class="md-icon-button md-accent" aria-label="Month">
          <md-tooltip md-direction="bottom">Previous Month</md-tooltip>
          <img class="png-icon" src="/static/month-sm.png">
          <!-- <md-icon md-svg-src="/static/month-md.png"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <br>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OEE">
        <md-content layout-xs="column" layout="row">
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                  <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Vertical action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="column" layout-align="start">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Availability">
        <md-content layout-xs="column" layout="row">
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                  <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Vertical action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="column" layout-align="start">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Quality">
        <md-content layout-xs="column" layout="row">
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                  <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Vertical action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="column" layout-align="start">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Performance">
        <md-content layout-xs="column" layout="row">
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                  <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                  <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div flex-gt-xs="50" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Vertical action buttons</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
              <md-card-actions layout="column" layout-align="start">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->