body {
  margin-top: 60px;
  padding: 0px;
  background-color: #ECF0F1;
}
.my-modal-popup .modal-dialog{
	position: absolute;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}
.boxIncomplete {
  margin-bottom:20px;
  margin-top:20px;
  border: #eed3d7 medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.boxRunning {
  margin-bottom:20px;
  margin-top:20px;
  border: #d6e9c6 medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.boxComplete {
  margin-bottom:20px;
  margin-top:20px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.boxStopped {
  margin-bottom:20px;
  margin-top:20px;
  border: #fbeed5 medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  }
.psswrd {
  max-width: 100px;
  white-space: normal;
  /*word-wrap: normal;*/
  overflow-x:hidden;
}
.alert-complete {
  background-color: #d3d3d3;
  color: #696969;
  border-color: #cdcdcd;
}


/*----Added By Vikrant for Statistics Tab-----*/
.pieChartcontainer {
    float:left;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }

/*-------------------------------------------*/


.titgreen {
  color: #0f824e
}
.titred {
  color: #9b2f0d;
}
.titgrey {
  color: #686564;
}
#pointerTile {
  cursor: pointer;
}
#pointerTile:hover {
  padding: 2px;
  background-color: #208202;
}

[ng-cloak]  
{  
display: none !important;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.png-icon{
    margin: auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}


.my-container-duration md-select-menu {
  min-height: 300px;
  font-size: 16px;
}

.my-container-duration md-content{
  min-height: 300px;
}

.my-container-period md-select-menu {
  min-height: 200px;
  font-size: 16px;
}

.my-container-period md-content{
  min-height: 200px;
}

.alert-disabled {
  background-color: #EEEEEE;
  color: #9FA8DA;
  font-weight: 500;
  text-align: center;
}

/*#container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px; }

#container .bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 100%;
  width: 100%; }

#container .bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; }*/

/*body {
    position: initial !important;
    top: initial !important;
    overflow: initial !important;
}
html {
    overflow: initial !important;
}*/



/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

