
<script type="text/ng-template" id="dayShift.dialog.html">
	<md-dialog aria-label="Custom Period Selection">
		<form ng-cloak>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Select Custom Period</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="cancel()">
						<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-dialog-content>
				<div class="md-dialog-content" layout="column" layout-align="space-between center">
					<div layout="row" flex layout-align="center start" style="width: 100%">
						<div flex=20 style="min-height: 74px;" layout="column" layout-align="center center">
							<md-icon><i class="material-icons png-icon">today</i></md-icon>
						</div>
						<div flex=80 layout="column" layout-align="center center">
							<md-input-container>
								<label>Enter date</label>
								<md-datepicker ng-model="custom.date" md-placeholder="Enter date" md-open-on-focus="" md-hide-icons="calendar"></md-datepicker>
							</md-input-container>
						</div>
					</div>
					<div layout="row" flex layout-align="center start" style="width: 100%">
						<div flex=20 style="min-height: 74px;" layout="column" layout-align="center center">
							<md-icon md-svg-src="img/icons/ic_access_time_24px.svg" class="name"></md-icon>
						</div>
						<div flex=80 layout="column" layout-align="center center">
							<md-input-container class="md-block" ng-show="shiftSelect===true" style="width: 130px">
								<label>Select shift</label>
								<md-select ng-model="custom.shift" ng-show="shiftSelect===true">
									<md-option value="1">A</md-option>
									<md-option value="2">B</md-option>
									<md-option value="3">C</md-option>
								</md-select>
							</md-input-container>
						</div>
					</div>
				</div>
			</md-dialog-content>

			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button md-colors="{color: 'default-primary'}"ng-click="ok()">
					Okay!
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
</script>

<section ng-cloak="" layout="row" flex="">

	<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
		<md-toolbar style="margin-top: 50px">
			<h1 class="md-toolbar-tools">Select Timeframe</h1>
		</md-toolbar>
		<md-content layout-padding layout="column">
			<div flex-xs flex-gt-xs="50">
				<md-input-container class="md-block" style="margin-top: 55px">
					<label for="period"> Period</label>
					<md-select id="period" ng-model="filt.period" aria-label="selectPeriod" ng-disabled="pageLoading" md-container-class="mySelect" ng-change="periodChangeHandler()">
						<md-option ng-repeat="period in periods" value="{{period.id}}">
							{{period.name}}
						</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" style="margin-top: 55px">
					<label for="duration"> Duration</label>
					<md-select id="duration" ng-model="filt.duration" aria-label="selectDuration" ng-disabled="pageLoading" md-container-class="mySelect">
						<md-option ng-repeat="duration in durations" value="{{duration.id}}" ng-disabled="duration.disabled">
							{{duration.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex-xs flex-gt-xs="50" ng-show="customSelectionShow">
				<md-toolbar style="margin-top: 50px">
					<h1 class="md-toolbar-tools">Custom Period</h1>
				</md-toolbar>
				<md-input-container class="md-block" style="margin-top: 55px">
					<label>Enter date</label>
					<md-datepicker ng-model="custom.date" md-placeholder="Enter date" md-open-on-focus="" md-hide-icons="calendar"></md-datepicker>
				</md-input-container>
				<md-input-container class="md-block" style="margin-top: 55px">
					<label>Select shift</label>
					<md-select ng-model="custom.shift">
						<md-option value="1">A</md-option>
						<md-option value="2">B</md-option>
						<md-option value="3">C</md-option>
					</md-select>
				</md-input-container>
			</div>
			<md-button ng-click="closeSidenav('left')" class="md-raised">
				OK
			</md-button>
		</md-content>
	</md-sidenav>
  
	<md-content flex layout-fill layout="column">
		<md-toolbar style="position: fixed; top: 50px">
			<div class="md-toolbar-tools" layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="center start">
				<div flex-gt-xs="40" layout="row" layout-align="start center">
					<md-button ng-click="toggleSidenav('left')" ng-disabled="false">
						<md-icon class="material-icons">
							edit
						</md-icon>
					</md-button>
					<h3>{{shift}}-shift, {{date | date: 'mediumDate'}}</h3>
				</div>
				<div flex-gt-xs="60" layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="center center">
					<h3>
						<span ng-class="{'md-body-1': screensize === 'mobile'}" ng-show="machineId===1"> Machine 1: 2WSM-Auto</span>
						<span ng-class="{'md-body-1': screensize === 'mobile'}" ng-hide="machineId===1"> Machine 2: Core Pressing</span>
					</h3>
					<h3 ng-if="screensize !== 'mobile'">
						<span ng-class="{'md-body-1': screensize === 'mobile'}" md-colors="{color: 'default-background-400'}">VEL-III&nbsp; <i class="fa fa-arrow-right"></i>&nbsp; Electrical</span>
					</h3>
				</div>
			</div>
		</md-toolbar>
		<md-card style="margin-top: 80px">
			<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
			<div flex id="container1" style="height:280px;">
			</div>
		</md-card>
		<div layout-xs="column" layout="row">
			<div flex-xs flex-gt-xs="30">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : 'alert-info'">
						<md-card-title-text>
							<span class="md-headline" ng-if="!pageLoading">Total: {{::totalCount}}</span>
							<span class="md-body-2" ng-if="pageLoading">Loading...</span>
						</md-card-title-text>
					</md-card-title>
					<md-divider></md-divider>
					<md-card-content ng-class="pageLoading ? 'alert-disabled' : 'alert-info'">
						<div ng-if="!pageLoading" flex layout="row" layout-xs="column">
							<p ng-repeat="log in okngstatlog" flex-gt-xs="50" flex-xs class="md-subhead" style="color: black"> {{ ::log.partname }}: {{ ::log.okcount + log.ngcount }} </p>
						</div>
						<div ng-if="pageLoading">
							<p> Loading... </p>
						</div>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs flex-gt-xs="30">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : 'alert-success'">
						<md-card-title-text>
							<span class="md-headline" ng-if="!pageLoading">OK: {{::okcount}}</span>
							<span class="md-body-2" ng-if="pageLoading">Loading...</span>
						</md-card-title-text>
					</md-card-title>
					<md-divider></md-divider>
					<md-card-content ng-class="pageLoading ? 'alert-disabled' : 'alert-success'">
						<div ng-if="!pageLoading" flex layout="row" layout-xs="column">
							<p ng-repeat="log in okngstatlog" flex-gt-xs="50" flex-xs class="md-subhead" style="color: black"> {{ ::log.partname }}: {{ ::log.okcount }} </p>
						</div>
						<div ng-if="pageLoading">
							<p> Loading... </p>
						</div>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs flex-gt-xs="40">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : 'alert-danger'">
						<md-card-title-text>
							<span class="md-headline" ng-if="!pageLoading">Unplanned Downtime: {{::downtime}} min</span>
							<span class="md-body-2" ng-if="pageLoading">Loading...</span>
						</md-card-title-text>
					</md-card-title>
					<md-divider></md-divider>
					<md-card-content ng-class="pageLoading ? 'alert-disabled' : 'alert-danger'">
						<div ng-if="!pageLoading" flex layout="row" layout-xs="column">
							<p flex-gt-xs="50" flex-xs class="md-subhead" style="color: black"> Operator: {{ ::operator }} </p>
							<p flex-gt-xs="50" ng-if="filt.period!=='1'" flex-xs class="md-subhead" style="color: black; text-align: right"> Supervisor: {{ ::supervisor }} </p>
						</div>
						<div ng-if="pageLoading">
							<p> Loading... </p>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</div>
		<div layout-xs="column" layout="row">
			<div flex-xs="" flex-gt-xs="25" layout="column">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">OEE</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<ng-gauge size="200" type="arch" thick="7" value="oee" cap="round" label="{{label}}" append="{{append}}" foreground-color="{{foreColor1}}" background-color="{{backColor}}" value-color="{{valueColor}}" label-color="{{labelColor}}"></ng-gauge>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs="" flex-gt-xs="25" layout="column">
			    <md-card>
			    	<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">Availability</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<ng-gauge size="200" type="arch" thick="7" value="availability" cap="round" label="{{label}}" append="{{append}}" foreground-color="{{foreColor2}}" background-color="{{backColor}}" value-color="{{valueColor}}" label-color="{{labelColor}}"></ng-gauge>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs="" flex-gt-xs="25" layout="column">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">Quality</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<ng-gauge size="200" type="arch" thick="7" value="quality" cap="round" label="{{label}}" append="{{append}}" foreground-color="{{foreColor3}}" background-color="{{backColor}}" value-color="{{valueColor}}" label-color="{{labelColor}}"></ng-gauge>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs="" flex-gt-xs="25" layout="column">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">Performance</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<ng-gauge size="200" type="arch" thick="7" value="performance" cap="round" label="{{label}}" append="{{append}}" foreground-color="{{foreColor4}}" background-color="{{backColor}}" value-color="{{valueColor}}" label-color="{{labelColor}}"></ng-gauge>
					</md-card-content>
				</md-card>
			</div>
		</div>
		<div layout-xs="column" layout-gt-xs="row">
			<div flex-xs="" flex-gt-xs="50">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<div id="container2" style="height:300px;"></div>
				</md-card>
			</div>
			<div flex-xs="" flex-gt-xs="50" ng-hide="totalReject===0">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<div id="container3" style="height:300px;"></div>
				</md-card>
			</div>
		</div>
		<div layout-xs="column" layout-gt-xs="row">
			<div flex-xs="" flex-gt-xs="50" layout="column">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">FPA Logs</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<table class="table">
							<thead>
								<tr>
									<th> # </th>
									<th> Operator </th>
									<th> Timestamp </th>
									<th ng-repeat="fpa in fpas"> {{fpa.name}} </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="log in fpalogs">
									<td> {{ $index+1 }} </td>
									<td> {{ log.operatorid }} </td>
									<td> {{ log.timestamp | date: 'shortTime' }} </td>
									<td ng-repeat="val in log.values">
										{{ val.value }}
									</td>
								</tr>
							</tbody>
						</table>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs="" flex-gt-xs="50" layout="column">
				<md-card>
					<md-progress-linear ng-show="pageLoading" md-mode="query"></md-progress-linear>
					<md-card-title ng-class="pageLoading ? 'alert-disabled' : ''">
						<md-card-title-text>
							<span class="md-headline" style="color: {{color}}">Poka-Yoke Logs</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="center center" ng-class="pageLoading ? 'alert-disabled' : ''">
						<table class="table">
							<thead>
								<tr>
									<th> # </th>
									<th> Operator </th>
									<th> Timestamp </th>
									<th ng-repeat="pkyk in pkyks"> {{pkyk.name}} </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="log in pklogs">
									<td> {{ $index+1 }} </td>
									<td> {{ log.operatorid }} </td>
									<td> {{ log.timestamp | date: 'shortTime' }} </td>
									<td ng-repeat="val in log.values">
										<i ng-if="val.value" class="fa fa-check"></i>&nbsp; 
										<i ng-if="!val.value" class="fa fa-times"></i>&nbsp; 
									</td>
								</tr>
							</tbody>
						</table>
					</md-card-content>
				</md-card>
			</div>
		</div>
	</md-content>
</div>

