
<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
	        <li class="sidebar-main">
	            <a ng-click="toggleSidebar()">
		            MACHINE DATA
		            <span class="menu-icon glyphicon glyphicon-transfer"></span>
	            </a>
	        </li>
	        <li class="sidebar-list">
		        <a href="" ng-click="operationShow()">Production Log <span class="menu-icon fa fa-industry"></span></a>
	        </li>
	        <li class="sidebar-list">
		        <a href="" ng-click="conditionShow()">Injection Params <span class="menu-icon fa fa-wrench"></span></a>
	        </li>
	        <li class="sidebar-list">
		        <a href="" ng-click="temperatureShow()">Barrel Temperature <span class="menu-icon fa fa-thermometer-half"></span></a>
	        </li>
	        <li class="sidebar-list">
		        <a href="" ng-click="timerShow()">Time Monitor <span class="menu-icon fa fa-tachometer"></span></a>
	        </li>
	        
        </ul>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
	        <!-- Main Content -->
	        
	        <!-- Header Bar -->
			<div class="row header" style="margin: 0">
			    <div class="col-xs-12" style="background-color: {{color}}">
			        <div class="user pull-right">
			            <div class="item dropdown" uib-dropdown>
			                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
			                    <img src="/fractal/static/sync.png">
			                </a>
			                <ul class="dropdown-menu dropdown-menu-right">
			                    <li class="link">
			                        <a href="" ng-click="refreshThis()">
			                            Refresh Current Page
			                        </a>
			                    </li>
			                    <li class="divider"></li>
			                    <li class="link">
			                        <a href="" ng-click="refreshAll()">
			                            Refresh All
			                        </a>
			                    </li>
			                </ul>
			            </div>
			        </div>
			        <div class="meta">
			            <div class="page">
			                Machine No. {{machine.number}}
			            </div>
			            <div class="breadcrumb-links">
			                {{machine.make}}, {{machine.controllerType}}
			            </div>
			        </div>
			    </div>
			</div>
			<!-- End Header Bar -->

        	<!-- enter operation graph and the related stuff here -->
	        <div ng-show="showOperations">
	        	<div class="row" style="padding-top: 10px">
	        		<div class="col-lg-4 alert alert-success">
	        			Count: {{prodCount}}
	        		</div>
	        		<div class="col-lg-4 alert alert-danger">
	        			Alarms: {{alarmCount}}
	        		</div>
	        		<div class="col-lg-4 alert alert-info">
	        			Cycle Time (Avg): {{cycleTime | number:2}}
	        		</div>
	        	</div>
	        	<hr/>
	        	<div id="container">
	        	</div>
	        </div>

        	<!-- enter injection screw position and pressure and the related stuff here -->
	        <div ng-show="showConditions" style="width: 100%">
	        	<div id="containerScrew">
	        	</div>
	        	<div id="containerOil">
	        	</div>
	        </div>

	        <!-- enter injection screw position and pressure and the related stuff here -->
	        <div ng-show="showTemperatures" style="width: 100%">
	        	<div id="containerTemp">
	        	</div>
	        </div>

	        <!-- enter injection screw position and pressure and the related stuff here -->
	        <div ng-show="showTimers" style="width: 100%">
	        	<div id="containerTimer">
	        	</div>
	        </div>

	        <div ng-show="showLoading" style="text-align: center; padding-top: 50px">
		    	<img src="https://media.giphy.com/media/EhTIih4rcMoSI/source.gif" alt="Page Loading" height="300"/>
		    </div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->