
<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
	        <li class="sidebar-main">
	            <a ng-click="toggleSidebar()">
		            FILTERS
		            <span class="menu-icon glyphicon glyphicon-transfer"></span>
	            </a>
	        </li>
	        <li class="sidebar-list">
	        	<a href="">
	                Machine Make: &nbsp;<span class="menu-icon fa fa-microchip"></span>
                    <div ng-dropdown-multiselect="" options="make" selected-model="makeModel" extra-settings="makeSettings" checkboxes="true" events="makeEvents"></div>
	            </a>
		        <!-- <a href="#/processviewer/0">Processes <span class="menu-icon fa fa-wrench"></span></a> -->
	        </li>
	        <li class="sidebar-list">
	        	<a href="">
	                Current Status: &nbsp;<span class="menu-icon fa fa-exclamation-circle"></span>
                    <div ng-dropdown-multiselect="" options="mcstatus" selected-model="mcstatusModel" extra-settings="mcstatusSettings" checkboxes="true" events="mcstatusEvents"></div>
                </a>
		        <!-- <a href="#/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a> -->
	        </li>
	        <li class="sidebar-list">
	        	<a href="">
                    Total Downtime: &nbsp;<span class="menu-icon fa fa-wrench"></span>
                    <div ng-dropdown-multiselect="" options="downtime" selected-model="downtimeModel" extra-settings="downtimeSettings" checkboxes="true" events="downtimeEvents"></div>
                </a>
		        <!-- <a href="#/createpcrn">Create PCRN <span class="menu-icon fa fa-table"></span></a> -->
	        </li>
	        <li class="sidebar-list">
	        	<a href="">
                    No. of Alarms: &nbsp;<span class="menu-icon fa fa-bell"></span>
                    <div ng-dropdown-multiselect="" options="alarm" selected-model="alarmModel" extra-settings="alarmSettings" checkboxes="true" events="alarmEvents"></div>
                </a>
		        <!-- <a href="#/pcrnviewer"> PCRNs <span class="menu-icon fa fa-spinner"></span></a> -->
	        </li>
	        <li class="sidebar-list">
	        	<a href="">
                    Target Achieved: &nbsp;<span class="menu-icon fa fa-bullseye"></span>
                    <div ng-dropdown-multiselect="" options="achievement" selected-model="achievementModel" extra-settings="achievementSettings" checkboxes="true" events="achievementEvents"></div>
                </a>
		        <!-- <a href="#/processviewer/0">Processes <span class="menu-icon fa fa-wrench"></span></a> -->
	        </li>
        </ul>
        <div class="sidebar-footer" >
	        <div class="col-xs-8">
	            <a href="" class="btn btn-info" ng-click="getMachines()">
		            <span class="fa fa-anchor fa-1x" style="color: #fff;"></span>&nbsp;
		            <span style="font-size: 14px; color: #fff;">GET MACHINES</span>
	            </a>
	        </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content" style="padding-top: 20px">
	        <!-- Main Content -->
	        <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="machine in machines">
					<div id="pointerTile" ng-class="{'green': machine.status === 'on', 'red': machine.status === 'off', 'grey': machine.status === 'disconnected'}" style="padding: 1px" ng-click="goToMachine(machine.id)">
						<rd-widget>
							<rd-widget-body>
								<div class="widget-icon pull-left" ng-class="{'green': machine.status === 'on', 'red': machine.status === 'off', 'grey': machine.status === 'disconnected'}">
									<i ng-class="{'fa fa-gear fa-spin': machine.status === 'on', 'fa fa-power-off': machine.status === 'off', 'fa fa-ban': machine.status === 'disconnected'}"></i>
								</div>
								<div class="title" ng-class="{'titgreen': machine.status === 'on', 'titred': machine.status === 'off', 'titgrey': machine.status === 'disconnected'}">
									{{machine.machineNo}}: {{machine.make}}
								</div>
								<div class="title" ng-class="{'titgreen': machine.status === 'on', 'titred': machine.status === 'off', 'titgrey': machine.status === 'disconnected'}">
									{{machine.machineName}}
								</div>
								<hr/>
								<div class="row comment" style="font-size: 20px; margin-top: 10px">
									<span class="pull-left" ng-if="machine.status!=='disconnected'">
										Target: <b>{{machine.target}}</b>
									</span>
									<span class="pull-left" ng-if="machine.status==='disconnected'">
										Last Alive: <b>{{machine.lastAlive | date:"mediumDate"}}, {{machine.lastAlive | date:"shortTime"}}</b>
									</span>
									<span class="pull-right" ng-class="{'titgreen': machine.prodCount > 0.5*machine.target, 'titred': machine.prodCount <= 0.5*machine.target, 'titgrey': machine.status === 'disconnected'}">
										Achieved: <b>{{machine.prodCount}}</b>
									</span>
								</div>
								<!-- <div class="comment">
									Achieved: {{machine.prodCount}}
								</div> -->
							</rd-widget-body>
						</rd-widget>
					</div>
				</div>
			</div>
        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->

</div><!-- End Page Wrapper -->
